:root {
    --clack-color: #222222;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}
.body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

.header__button {
    background-color: transparent;
    border: none;
    padding: 10px 0 0 0;
}
.header__container {
    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: space-between;
}
.header__button:hover,
.header__button:focus {
    opacity: .8;
}
.header__button:active {
    opacity: .5;
}
.header__menu-list ,
.header__logo_wrp {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0 0 0 0;
}
.header__logo {
    margin: 0 41px 0 0;
}
.header__menu-item:not(:last-child) {
    margin: 0 33px 0 0;
}
.name__img {
    background-color: #716769;
}
.name {
    background-color:#F1E4E6;
    height: 765px;
    display: flex;
}
.header__navigation {
    justify-content: flex-end;
    display: flex;
    margin-right: 73px;
}
.name__content {
     margin: 335px 331px 335.9px 92px;
     width: 377px;
     height: 93px;
    }
.name__header-span {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: var(--pink-color);
}
.name__header {
    position: absolute;
    left: 58.98%;
    right: 4.17%;
    top: 4.97%;
    bottom: 93.2%;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
    top:335px;
    color: #222222;
}
.name__header::before {
    position: absolute;
     content: url(../img/psev.png);
    width: 12px;
    height: 100%;
    background-color: #F16D7F;
    left: -30px;
    top:8px;
}
.header__navigation-title {
    position: absolute;
    width: 55px;
    height: 17px;
    left: 1290px;
    top: 112px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
}

.header__navigation-item {
      font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
     color: #F16D7F; 
}
.header__navigation-item:first-child {
    margin-top: 78px;
}
.header__navigation-sub-list {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #6F6E6E;
}
.stock__item-women {
    background-image: url(../img/forWomen.png);
    width: 360px;
    height: 260px;
    position: relative;
}
.stock__item-men {
    background-image: url(../img/forMen.png);
    width: 360px;
    height: 260px;
    position: relative;
}
.stock__item-kids {
    background-image: url(../img/forKids.png);
    width: 360px;
    height: 260px;
    position: relative;
}
.stock__item-last {
    background-image: url(../img/Accesories.png);
    background-color: #211616;
    width: 1140px;
    height: 180px;
    margin-top: 30px;
    position: relative;
}
.stock__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 63px;
    margin: 0 auto;
    padding-left: 0;
}
.stock__item-name {
    padding-top:105px;
    left: 20.94%;
    right: 69.44%;
    top: 26.33%;
    bottom: 72.36%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.stok_item-category {
    left: 20.94%;
    right: 69.44%;
    top: 26.33%;
    bottom: 72.36%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #F16D7F
}
.stock__item-name-last {
    padding-top: 65px;
    margin: 0;
    right: 69.44%;
    top: 26.33%;
    bottom: 72.36%;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.fetured {
    padding-top: 97px;
    text-align: center;
}
.fetured__list{
    display:flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.fetured__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0 0 48px;
}
.fetured__item:nth-child(1),
.fetured__item:nth-child(4) {
    margin-left: 150px;
    }
.fetured__item:nth-child(3),
.fetured__item:nth-child(6) {
    margin-right: 190px;
}
.fetured__item:nth-child(2){
    background-image: url(../img/pinkfon.png);
    width: 360px;
    height: 420px;
}
.fetured__item {
    width: 360px;
    background-color: var(--gray-bkg-color);
    position: relative;
}
.fetured__item:hover .fetured__item-img,
.fetured__item:focus .fetured__item-img {
    filter: brightness(55%);

.fetured__item-button {
    display: none;
    position: absolute;
    top: 190px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 14px;
    line-height: 17px;
    color:  #FFFFFF;
    padding: 11px 16px 8px 13px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.fetured__item-header {
    margin: 0 0 12px;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
}
.fetured__item-text {
    margin: 0 0 18px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}
.fetured__item-price {
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-color);
}
.fetured__item-container {
    padding: 25px 29px 20px 16px;
    text-align: left;
    background-color: #F8F8F8;
    margin-top: 0;
    margin-bottom: 30px;
}
.fetured__item-button-products {
    margin-left: 650px;
    border: 1 px solid rgba(241, 109, 127, 1);
    text-align: center;

.footer__menu-list {
    width: 1140px;
    display: flex;
    padding-top: 103px;
    justify-content: space-around;
    padding-left: 158px;
}
.footer_h2 {
    width: 1140px;
    padding-left: 129px;
    color: #FBFBFB;
    display: flex;
}
.footer_p {
    width: 1140px;
    padding-left: 100px;
    color: #FBFBFB;
    display: flex;
    font-size: 14px;
}
.footer__list {
    display: flex;
    background: #222224;
    height: 341px;
    color: #FBFBFB;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.footer__item-header {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
}
.footer__item-text {

    font-weight: 300;
    font-style: normal;
    font-size: 13,97px;
    line-height: 16,77px;
    text-align: center;
}
.footer__item-container {
    width: 340px;
    height: 34px;
}
.footer__item:nth-child(1){
    margin-left: 130px;
}
.footer__item:nth-child(3){
    margin-right: 130px;
}
.footer__item_info{
    display: flex;
}
.footer__item_info-socialis{
    display: flex;
}
.footer__subscribe{
    background-image: url(../img/photosubscribe.png);
    height: 448px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 480px;
    padding-right: 170px;
   }
.footer__subscribe-review-text {
    height: 99px;
    width: 360px;
    font-style: italic;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-left: -300px;
}
.footer__subscribe-review-img {
    margin-left: -180px;
}
.footer__subscribe-address {
  }
.footer__subscribe-review {
    display: inline-block;
}
.footer__item_info{
    background-color: #222224;
    color:  rgba(251, 251, 251, 1);
    justify-content: space-between;
}
.footer__item_info-copy {
    padding-left: 235px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.footer__item_info-socialis {
    padding-right: 230px;
}
.footer__item_icon {
    margin: 0 7px 0 0;
}
.footer__subscribe-email{
    width: 322px;
    height: 49px;
    margin-top: 32px;

=======
}
.footer__item_icon:hover,
.footer__item_icon:focus {
    opacity: .8;
}
