.header {
    background-color: $black-color;
    height: 75px;
    position: relative;
}
.header__button {
    background-color: transparent;
    border: none;
    padding: 10px 0 0 0;
}
.header__container {
    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: space-between;
}
.header__button:hover,
.header__button:focus {
    opacity: .8;
}
.header__button:active {
    opacity: .5;
}
.header__menu-list ,
.header__logo_wrp {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0 0 0 0;
}
.header__logo {
    margin: 0 41px 0 0;
}
.header__menu-item:not(:last-child) {
    margin: 0 33px 0 0;
}